
---
layout: landing
---
<!--
<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <div class="post-header">
    <h1><a href="{{ site.baseurl }}{{ post.url }}" class="page-title">{{ post.title }}</a></h1>
    {% if post.related_image %}
    <img src="{{ post.related_image }}" alt="" class="preview-image">
    {% endif %}
    </div>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>
-->