
<!--
---
layout: landing
---
-->
<!--
<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <div class="post-header">
    <h1><a href="{{ site.baseurl }}{{ post.url }}" class="page-title">{{ post.title }}</a></h1>
    {% if post.related_image %}
    <img src="{{ post.related_image }}" alt="" class="preview-image">
    {% endif %}
    </div>
    <div class="entry">
      {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>
  {% endfor %}
</div>
-->
<img src="welcome.png" class:"landing">

<div style="text-align:center; font-size: 22px;"><a href="https://twitter.com/emielboven" style="text-decoration:none; color:grey;">Twitter</a></div>
